<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aa.controldeatencionpsicolgica">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ControlDeAtenciónPsicológica"
        android:usesCleartextTraffic="true">
        <activity android:name=".MenuMaterialPeritaje"></activity>
        <activity android:name=".SelectPacienteActivityP" />
        <activity android:name=".ListaTUsuarios" />
        <activity android:name=".ListaTPacientes" />
        <activity android:name=".DetailsCitaPActivity" />
        <activity android:name=".AddNewCitaPActivity" />
        <activity android:name=".CitasPActivity" />
        <activity android:name=".PacientesPCasosActivity" />
        <activity android:name=".VerCasosPActivity" />
        <activity android:name=".ListaPacienteP" />
        <activity android:name=".AddNewCasoP" />
        <activity android:name=".AddNewPacienteP" />
        <activity android:name=".DetailsCitaActivity" />
        <activity android:name=".SelectPacienteActivity" />
        <activity android:name=".UsuariosTransActivtiy" />
        <activity android:name=".PacientesCasosActivity" />
        <activity android:name=".AddNewParienteActivity" />
        <activity android:name=".activity_parientes" />
        <activity android:name=".PacientesCasosActivity" />
        <activity android:name=".VerCasosActivity" />
        <activity android:name=".EditPeritajeActivity" />
        <activity android:name=".PeritajeDetailsActivity" />
        <activity android:name=".ListaPeritaje" />
        <activity android:name=".PeritajeActivity" />
        <activity android:name=".MenuActivityPeritaje" />
        <activity android:name=".ListaPacientes" />
        <activity android:name=".AddNewCaso" />
        <activity android:name=".ExpedienteDetailsActivity2" />
        <activity
            android:name=".ExpedienteDetailsActivity"
            android:label="@string/title_activity_expediente_details_actvity"
            android:theme="@style/Theme.ControlDeAtenciónPsicológica.NoActionBar" />
        <activity android:name=".ExpedienteActivity" />
        <activity android:name=".ReporteCita" />
        <activity android:name=".MenuMaterial" />
        <activity android:name=".AddNewCitaActivity" />
        <activity android:name=".AddPacientesActivity" />
        <activity android:name=".InfoPacientesActivity" />
        <activity android:name=".CitasDiaActivity" />
        <activity android:name=".CitasActivity" />
        <activity android:name=".EditContactoAgendaActivity" />
        <activity
            android:name=".AgendaDetailsActivity"
            android:theme="@style/Theme.ControlDeAtenciónPsicológica.NoActionBar" />
        <activity android:name=".AddNewContactoAgenda" />
        <activity
            android:name=".AgendaActivity"
            android:theme="@style/Theme.ControlDeAtenciónPsicológica.NoActionBar" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".RegistroActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>