<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aa.controldeatencionpsicolgica">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ControlDeAtenciónPsicológica">
        <activity
            android:name=".AgendaDetailsActivity"
            android:label="@string/title_activity_agenda_details"
            android:theme="@style/Theme.ControlDeAtenciónPsicológica.NoActionBar"></activity>
        <activity android:name=".AddNewContactoAgenda" />
        <activity
            android:name=".AgendaActivity"
            android:label="@string/title_activity_agenda"
            android:theme="@style/Theme.ControlDeAtenciónPsicológica.NoActionBar" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".RegistroActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>